

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Freshcery | Groceries Organic Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href= "https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href= "{% static 'assets/fonts/sb-bistro/sb-bistro.css' %}" rel="stylesheet" type="text/css">
    <link href= "{% static 'assets/fonts/font-awesome/font-awesome.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" media="all" href= "{% static 'assets/packages/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href= "{% static 'assets/packages/o2system-ui/o2system-ui.css' %}">
    <link rel="stylesheet" type="text/css" media="all"   href= "{% static 'assets/packages/owl-carousel/owl-carousel.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href= "{% static 'assets/packages/cloudzoom/cloudzoom.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href= "{% static 'assets/packages/thumbelina/thumbelina.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href= "{% static 'assets/packages/bootstrap-touchspin/bootstrap-touchspin.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href= "{% static 'assets/css/theme.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href= "{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href= "{% static '../assets/css/seller.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Form with Image Preview</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/packages/bootstrap/bootstrap.css' %}">

</head>

<body>
                <!--=============== Navbar ===============-->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-white" id="page-navigation">
            <div class="container">
                <!-- Navbar Brand -->
                <a href="{%url 'loginpage'%}" class="navbar-brand">
                    <img src="{% static 'assets/img/logo/logo.png' %}" alt="Freshcery Logo" height="40">
                </a>

                <!-- Search Bar -->
                <form class="form-inline my-2 my-lg-0 mx-auto">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search for products, brands and more"
                        aria-label="Search" style="width: 300px;">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i
                            class="fa fa-search"></i></button>
                </form>

                <!-- Toggle Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarcollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarcollapse">
                    <!-- Navbar Menu -->
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{%url 'loginpage'%}" id="categoriesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                class="fa fa-home"></i>Home</a>
                            <div class="dropdown-menu" aria-labelledby="categoriesDropdown">
                                <a class="dropdown-item" href="{%url 'additempage'%}">Home</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{%url 'loginpage'%}" id="offersDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                class="fa fa-users"></i>About Us</a>
                            <div class="dropdown-menu" aria-labelledby="offersDropdown">
                                <a class="dropdown-item" href="{%url 'loginpage'%}">About Us</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{%url 'loginpage'%}" id="registerDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                    class="fa fa-shopping-cart"></i> Sell Online</a>
                            <div class="dropdown-menu" aria-labelledby="registerDropdown">
                                <a class="dropdown-item" href="{%url 'loginpage'%}">List Product</a>
                                <a class="dropdown-item" href="{%url 'loginpage'%}">List Users</a>
                                <a class="dropdown-item" href="{%url 'loginpage'%}">Receive Payment</a>
                                <a class="dropdown-item" href="{%url 'loginpage'%}">Help & Support</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{%url 'loginpage'%}" id="loginDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                    class="fa fa-credit-card"></i> Fees </a>
                            <div class="dropdown-menu" aria-labelledby="loginDropdown">
                                <a class="dropdown-item" href="{%url 'loginpage'%}">abc</a>
                                <a class="dropdown-item" href="{%url 'loginpage'%}">abc</a>
                                <a class="dropdown-item" href="{%url 'loginpage'%}">abc</a>
                                <a class="dropdown-item" href="{%url 'loginpage'%}">abc</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{%url 'loginpage'%}" id="contactDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                    class="fa fa-envelope"></i> Contact Us</a>
                            <div class="dropdown-menu" aria-labelledby="contactDropdown">
                                <a class="dropdown-item" href="{%url 'loginpage'%}">Customer Service</a>
                                <a class="dropdown-item" href="{%url 'loginpage'%}">Support</a>
                            </div>
                        </li>


                         <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{%url 'loginpage'%}" id="cartDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                    class="fa fa-user-plus"></i> Profile</a>
                            <div class="dropdown-menu" aria-labelledby="cartDropdown">
                                <a class="dropdown-item" href="{%url 'loginpage'%}">Profile</a>
                                <a class="dropdown-item" href="{%url 'loginpage'%}">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>



        {% block content %}



        {% endblock %}

        


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h5>About</h5>
                    <p>Nisi esse dolor irure dolor eiusmod ex deserunt proident cillum eu qui enim occaecat sunt aliqua
                        anim eiusmod qui ut voluptate.</p>
                </div>
                <div class="col-md-3">
                    <h5>Links</h5>
                    <ul>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact Us</a>
                        </li>
                        <li>
                            <a href="faq.html">FAQ</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">How it Works</a>
                        </li>
                        <li>
                            <a href="terms.html">Terms</a>
                        </li>
                        <li>
                            <a href="privacy.html">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Contact</h5>
                    <ul>
                        <li>
                            <a href="tel:+620892738334"><i class="fa fa-phone"></i> 08272367238</a>
                        </li>
                        <li>
                            <a href="mailto:hello@domain.com"><i class="fa fa-envelope"></i> hello@domain.com</a>
                        </li>
                    </ul>

                    <h5>Follow Us</h5>
                    <ul class="social">
                        <li>
                            <a href="javascript:void(0)" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" target="_blank"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" target="_blank"><i class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Get Our App</h5>
                    <ul class="mb-0">
                        <li class="download-app">
                            <a href="{%url 'loginpage'%}"><img src="{% static 'assets/img/playstore.png' %}"></a>
                        </li>
                        <li style="height: 200px">
                            <div class="mockup">
                                <img src="{% static 'assets/img/mockup.png' %}">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="copyright">&copy; 2018 Freshcery | Groceries Organic Store. All rights reserved.</p>
    </footer>

    <script type="text/javascript" src="{% static 'assets/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/jquery-migrate.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/packages/bootstrap/libraries/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/packages/bootstrap/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/packages/o2system-ui/o2system-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/packages/owl-carousel/owl-carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/packages/cloudzoom/cloudzoom.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/packages/thumbelina/thumbelina.js' %}"></script>
    <script type="text/javascript"
        src="{% static 'assets/packages/bootstrap-touchspin/bootstrap-touchspin.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/theme.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/app.js' %}"></script>
</body>

</html>
