{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Freshcery | Groceries Organic Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link href="{% static 'assets/fonts/sb-bistro/sb-bistro.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/fonts/font-awesome/font-awesome.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'assets/packages/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'assets/packages/o2system-ui/o2system-ui.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'assets/packages/owl-carousel/owl-carousel.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'assets/packages/cloudzoom/cloudzoom.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'assets/packages/thumbelina/thumbelina.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'assets/packages/bootstrap-touchspin/bootstrap-touchspin.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'assets/css/theme.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'assets/css/style.css' %}">

</head>
<body>
    <!-- Main Content -->
    {% block content %}



    {% endblock %}

    <!-- Scripts -->
    <script type="text/javascript" src="{% static 'assets/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/jquery-migrate.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/packages/bootstrap/libraries/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/packages/bootstrap/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/packages/o2system-ui/o2system-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/packages/owl-carousel/owl-carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/packages/cloudzoom/cloudzoom.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/packages/thumbelina/thumbelina.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/packages/bootstrap-touchspin/bootstrap-touchspin.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/theme.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/validation.js' %}"></script>

</body>
</html>
