{% load static %}
<!DOCTYPE html>
<html>


<body>
        <!--=============== Navbar ===============-->
       


   
        <section id="checkout">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xs-12 col-sm-6">
                        <h5 class="mb-3">SET PASSWORD</h5>
                        <!-- Bill Detail of the Page -->
                        <form action="#" class="bill-detail">
                            <fieldset>
                                <div class="form-group">
                                <input class="form-control" placeholder="New Password" style="padding: 15px" type="password" id="newPassword" required>
                                </div>

                                    <div class="form-group">
                                <input class="form-control" placeholder="Re-Confirm Password" style="padding: 15px" type="password" id="confirmPassword" required>
                                </div>

                                    <div class="form-group text-right">
                                <button class="btn btn-primary"  style="padding: 15px" onclick="validatePasswords()">Set Password </button>
                                <div class="clearfix"></div>
                                </div>
                                </fieldset>

                                <script>
                                function validatePasswords() {
                                    var newPassword = document.getElementById('newPassword').value;
                                    var confirmPassword = document.getElementById('confirmPassword').value;

                                    // Regular expression to check for at least one letter, one digit, one special character, and minimum 4 characters
                                    var passwordPattern = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{4,}$/;

                                    if (newPassword === "" || confirmPassword === "") {
                                        alert("Both password fields are required.");
                                    } else if (!passwordPattern.test(newPassword)) {
                                        alert("Password must be at least 4 characters long, contain at least one letter, one digit, and one special character.");
                                    } else if (newPassword !== confirmPassword) {
                                        alert("Passwords do not match. Please try again.");
                                    }
                                }
                                </script>


                        </form>
                        <!-- Bill Detail of the Page end -->
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h5>About</h5>
                    <p>Nisi esse dolor irure dolor eiusmod ex deserunt proident cillum eu qui enim occaecat sunt aliqua
                        anim eiusmod qui ut voluptate.</p>
                </div>
                <div class="col-md-3">
                    <h5>Links</h5>
                    <ul>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact Us</a>
                        </li>
                        <li>
                            <a href="faq.html">FAQ</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">How it Works</a>
                        </li>
                        <li>
                            <a href="terms.html">Terms</a>
                        </li>
                        <li>
                            <a href="privacy.html">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Contact</h5>
                    <ul>
                        <li>
                            <a href="tel:+620892738334"><i class="fa fa-phone"></i> 08272367238</a>
                        </li>
                        <li>
                            <a href="mailto:hello@domain.com"><i class="fa fa-envelope"></i> hello@domain.com</a>
                        </li>
                    </ul>

                    <h5>Follow Us</h5>
                    <ul class="social">
                        <li>
                            <a href="javascript:void(0)" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" target="_blank"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" target="_blank"><i class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Get Our App</h5>
                    <ul class="mb-0">
                        <li class="download-app">
                            <a href="#"><img src="{% static 'assets/img/playstore.png' %}"></a>
                        </li>
                        <li style="height: 200px">
                            <div class="mockup">
                                <img src="{% static 'assets/img/mockup.png' %}">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="copyright">&copy; 2018 Freshcery | Groceries Organic Store. All rights reserved.</p>
    </footer>

    <script type="text/javascript" src="{% static 'assets/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/jquery-migrate.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/packages/bootstrap/libraries/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/packages/bootstrap/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/packages/o2system-ui/o2system-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/packages/owl-carousel/owl-carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/packages/cloudzoom/cloudzoom.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/packages/thumbelina/thumbelina.js' %}"></script>
    <script type="text/javascript"
        src="{% static 'assets/packages/bootstrap-touchspin/bootstrap-touchspin.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/theme.js' %}"></script>
</body>

</html>
